/*--------NAVBAR--------*/
#navbar{
  overflow: hidden;
  background-color: none;
  position: fixed;
  top: 0px;
  width: 100vw;
  margin:0;
  z-index: 550;
}

#whitebar{
  position: fixed;
  top: 0px;
  left:0px;
  width: 100vw;
  height: 60px;
  background-color:#FFFFFF;
  z-index: 500;
}

#navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  font-family: 'Vidaloka', serif;
  font-size: 25px;
  padding: 20px;
  text-decoration: none;
}

.image_navbar{
  position: fixed;
  width: 50px;
  height: 50px;
  margin-left: 1142px;
  margin-top: -3px;
  z-index: 600;
}

/*--------C'est Marie--------*/
.titles{
  height: 10px;
  font-family: 'Vidaloka', serif;
  font-size: 100px;
  font-weight: 10px;
  margin: 0;
  padding: 0px;
  width: 800px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.header{
  position: absolute;
  top: 125px;
  left: 270px;
  z-index: 100;
}

.image_1{
  position: absolute;
  top: -160px;
  left: 450px;
  width: 700px;
  height: 700px;
}

.line_1 {
  position: absolute;
  top: 370px;
  left: 350px;
  width: 850px;
  height: 50px;
  background-color:#F469A3;
}

.white_block {
  position: absolute;
  top: 20px;
  left: 350px;
  width: 730px;
  height: 400px;
  background-color:#FFFFFF;
}

/*-------- explanation  --------*/
.image_2{
  position: absolute;
  top: 600px;
  left: 80px;
  width: 346px;
  height: 518px;
  z-index: -50;
  padding: 10px;
}

.image_3{
  position: absolute;
  top: 600px;
  left: 446px;
  width: 724px;
  height: 470px;
  z-index: -50;
  padding: 10px;
}

.image_4{
  position: absolute;
  top: 1090px;
  left: 446px;
  width: 724px;
  height: 470px;
  z-index: -50;
  padding: 10px;
}

.image_5{
  position: absolute;
  top: 1138px;
  left: 80px;
  width: 346px;
  height: 518px;
  z-index: -50;
  padding: 10px;
}

.image_6{
  position: absolute;
  top: 1580px;
  left: 446px;
  width: 724px;
  height: 470px;
  z-index: -50;
  padding: 10px;
}

.image_7{
  position: absolute;
  top: 1676px;
  left: 80px;
  width: 346px;
  height: 518px;
  z-index: -50;
  padding: 10px;
}

.image_8{
  position: absolute;
  top: 2070px;
  left: 446px;
  width: 724px;
  height: 470px;
  z-index: -50;
  padding: 10px;
}

.image_9{
  position: absolute;
  top: 2214px;
  left: 80px;
  width: 346px;
  height: 326px;
  z-index: -50;
  padding: 10px;
}

/*--------NAVBAR lines--------*/
#navbar a:hover span{
position: relative;
z-index: 550;
}

a:hover .line_2{
  position: relative;
  top: -10px;
  left: 10px;
  width: 100%;
  height: 8px;
  z-index: 530;
}

.pink{
  background-color:#E6578B;
}
.yellow{
  background-color: #FFF496;
}
.green{
  background-color: #93E5AB;
}
.blue{
  background-color: #A3CEF1;
}
.purple{
  background-color: #E3DAFF;
}
