/*--------NAVBAR--------*/

#navbar{
  overflow: hidden;
  background-color: none;
  position: fixed;
  top: 0px;
  width: 100vw;
  margin:0;
  z-index: 550;
}

#whitebar{
  position: fixed;
  top: 0px;
  left:0px;
  width: 100vw;
  height: 60px;
  background-color:#FFFFFF;
  z-index: 500;

}

#navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  font-family: 'Vidaloka', serif;
  font-size: 25px;
  padding: 20px;
  text-decoration: none;

}

.image_navbar{
  position: fixed;
  width: 50px;
  height: 50px;
  margin-left: 1142px;
  margin-top: -470px;
  z-index: 600;
}

/*--------Hallmark.nl--------*/
.titles{
  height: 10px;
  font-family: 'Vidaloka', serif;
  font-size: 100px;
  font-weight: 10px;
  margin: 0;
  padding: 0px;
  width: 700px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.header{
  position: absolute;
  top: 125px;
  left: 270px;
  z-index: 100;
}

.image_1{
  position: absolute;
  top: 40px;
  left: 450px;
  width: 700px;
  height: 500px;
}

.line_1 {
  position: absolute;
  top: 370px;
  left: 350px;
  width: 850px;
  height: 50px;
  background-color:#583791;
}

.white_block {
  position: absolute;
  top: 20px;
  left: 350px;
  width: 730px;
  height: 400px;
  background-color:#FFFFFF;
}

/*-------- explanation  --------*/
.text {
  margin-top: 475px;
  text-align: justify;
  font-family: 'Vidaloka', serif;
  font-size: 27px;
  font-weight: 10px;
  padding: 100px;
  width: 550px;
  margin-left: 470px;
  z-index: 100;
}

.text_2 {
  margin-top: -60px;
  text-align: justify;
  font-family: 'Vidaloka', serif;
  font-size: 27px;
  font-weight: 10px;
  padding: 100px;
  width: 550px;
  margin-left: 67px;
  z-index: 100;
}

.text_3 {
  margin-top: -100px;
  text-align: justify;
  font-family: 'Vidaloka', serif;
  font-size: 27px;
  font-weight: 10px;
  padding: 100px;
  width: 550px;
  margin-left: 447px;
  z-index: 100;
}

.image_2{
  position: absolute;
  top: 700px;
  left: 180px;
  width: 600px;
  height: 332px;
  z-index: -50;
}

.image_3{
  position: absolute;
  top: 1095px;
  left: 650px;
  width: 400px;
  height: 340px;
  z-index: -50;
}

.image_4{
  position: absolute;
  top: 1480px;
  left: 250px;
  width: 519px;
  height: 299px;
  z-index: -50;
}

.white_block_2 {
  position: absolute;
  top: 600px;
  left: 550px;
  width: 600px;
  height: 320px;
  background-color:#FFFFFF;
  z-index: -25;
}

.white_block_3 {
  position: absolute;
  top: 1100px;
  left: 250px;
  width: 500px;
  height: 255px;
  background-color:#FFFFFF;
  z-index: -25;
}

.white_block_4 {
  position: absolute;
  top: 1470px;
  left: 530px;
  width: 600px;
  height: 210px;
  background-color:#FFFFFF;
  z-index: -25;
}

.line_2 {
  position: absolute;
  top: 900px;
  left: 360px;
  width: 650px;
  height: 50px;
  background-color:#E3DAFF;
  z-index: -15;
}

.line_3 {
  position: absolute;
  top: 1342px;
  left: 270px;
  width: 570px;
  height: 50px;
  background-color:#E3DAFF;
  z-index: -15;
}

.line_4 {
  position: absolute;
  top: 1651px;
  left: 420px;
  width: 530px;
  height: 50px;
  background-color:#E3DAFF;
  z-index: -15;
}

.button {
  margin-left: 800px;
  font-size: 30px;
  font-family: 'Vidaloka', serif;
  color: #000000;
  background: #E3DAFF;
  text-decoration: none;
  padding: 25px;
  border-radius: 20px;
  display: inline-block;
}

.button:hover{
  background: #7261A3;
}


/*--------NAVBAR lines--------*/
#navbar a:hover span{
position: relative;
z-index: 550;
}

#navbar a:hover .line_2{
  position: relative;
  top: -10px;
  left: 10px;
  width: 100%;
  height: 8px;
  z-index: 530;
}

.pink{
  background-color:#E6578B;
}
.yellow{
  background-color: #FFF496;
}
.green{
  background-color: #93E5AB;
}
.blue{
  background-color: #A3CEF1;
}
.purple{
  background-color: #E3DAFF;
}

/* ------Icons------
.social-icons{
    right: 60px;
    bottom: 80px;
    position: absolute;
}
.social-icons{
    margin-top: 15px;
    text-align: center;
}
.social-icons{
    color: rgb(250, 242, 173);
    padding: 6px;
    display: block;
}

Montserrat
*/
